.section1 {
    background-color: $color1;
    //height: auto;
    width: 100%;
    max-height: 1000px;
    margin: 0;
    padding: 0;
    &__data {
        margin: 0;
        padding: 0;
        color: $color1;
        max-width: 1080px;
        width: 100%;
        margin: auto;
        padding: 0;
        .dim {
            font-size: large;
            max-width: 400px;
            color: black;
            padding: 0.01rem;
            margin-top: 0;
        }
    }
}

.section2 {
    max-height: 700px;
    height: 100%;
    background-color: $color5;
    padding: 0px;
    &__data {
        color: $color1;
        height: 100%;
        max-width: 900px;
        .dim {
            color: white;
            padding: 1.6em;
            font-size: 1.1em;
        }
        margin: auto;
    }
    .visiting-card {
        color: black;
        width: 50%;
        position: absolute;
        &::before {
            content: "";
            display: none;
        }
        &:hover {
            display: block;
            &::before {
                background-color: white;
            }
        }
    }
}

footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1080px;
    white-space: nowrap;
    grid-gap: 16px;
    justify-content: center;
    @include breakpoint-down(small) {
        display: subgrid;
        grid-row-gap: 1px;
        grid-column-gap: 9px;
    }
    a {
        color: black;
        cursor: pointer;
        text-align: right;
        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 0em;
            left: 0;
            right: 0;
            bottom: 0px;
            color: $color2;
        }
        &:hover {
            &::before {
                background-color: $color3;
            }
        }
    }
    k {
        font-family: 'Helvetica Neue', sans-serif;
        padding: 0;
        color: $color1;
        font-size: 0.7rem;
        text-align: right;
        &:hover {
            color: gainsboro;
        }
    }
    p {
        font-size: $font-med;
        padding: 0.3rem;
    }
    code {
        color: $color1;
        &:hover {
            color: gainsboro;
        }
    }
    .address {
        padding-left: 10px;
        padding-right: 20px;
        text-align: left;
    }
    .contact {
        text-align: center;
    }
}