.section1 {
    background-color: $color1;
    min-height: 500px;
    //height: auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 1000px;
    &__data {
        max-width: 1280px;
        margin: auto;
    }
}

.section2 {
    height: 400px;
    position: fixed absolute;
    background-color: $color2;
    padding: 0px;
    overflow: auto;
    &__data {
        max-width: 1280px;
        margin: auto;
    }
}