//colors
$color1: hsl(84, 2%, 91%);
$color2: hsl(10, 46%, 32%);
$color3: hsl(150, 8%, 95%);
$color4: hsl(20, 21%, 47%);
$color5: hsl(48, 19%, 31%);
$color6: hsl(245, 21%, 12%);
//fonts
$font-large: 1rem;
$font-med: 0.9rem;
$font-sm:0.8rem;
@import "./header";
@import "./feature";
@import "./section";
@import "./variables/main.scss";
@import "./mixins/main.scss";
@import "./grid";
@import "./visibility"; // Visibility last for precedence
//using material-UI
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    box-sizing: border-box;
    position: relative;
    // outline: 1px solid red;
}

body {
    background-color: $color6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: grid;
    font-family: 'Poppins', sans-serif;
}

p {
    color: $color1;
    display: flex;
    margin: 0px;
    justify-content: center;
}

i {
    color: $color2;
    text-align: center;
    height: 100%;
}

span {
    background: $color1 !important;
    color: $color2;
}

a {
    position: relative;
    text-decoration: none;
    font-size: $font-med +0.2rem;
    color: $color2;
    &:not(:last-child) {
        margin-right: 30px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 0.15em;
        left: 0;
        right: 0;
        bottom: -5px;
        color: $color2;
    }
    &:hover {
        color: rgb(0, 0, 0);
        &::before {
            background: $color2;
        }
    }
}

//flexbox
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

button,
.button {
    padding: 0.7rem 1.65rem;
    background: $color3;
    border-radius: 4px;
    cursor: pointer;
    border: 14;
}

//visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}

//text
.banner {
    font-family: 'Shadows Into Light', cursive;
    margin: auto;
    justify-content: center;
    text-align: bottom;
    font-size: 50px;
    padding-top: 0.01em;
    justify-content: center;
    width: 100% auto;
    @include breakpoint-down(medium) {
        padding: -20px;
        width: 80%;
        margin: auto;
    }
    @include breakpoint-down(small) {
        padding-top: 30px;
        width: 80%;
        margin: auto;
    }
    @include breakpoint-up(medium) {
        text-align: top;
        margin-top: 100px;
    }
}

code {
    font-family: 'Square721 BT';
    font-size: 13px;
    color: black;
}