//colors
$color1: whitesmoke;
$color2: hsl(0, 0%, 2%);
$color3: hsl(0, 16%, 72%);
//fonts
$font-med: 0.9rem;
$font-sm:0.8rem;
@import "./header";
@import "./feature";
@import "./section";
@import "./variables/main.scss";
@import "./mixins/main.scss";
@import "./grid";
@import "./visibility"; // Visibility last for precedence
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

p {
    color: $color2;
    display: flex;
    margin: 0px;
    text-align: center;
    justify-content: center;
}

i {
    color: $color2;
    text-align: center;
    height: 100%;
}

span {
    background: $color1 !important;
    color: $color2;
}

a {
    position: relative;
    text-decoration: none;
    font-size: $font-med +0.2rem;
    color: $color2;
    &:not(:last-child) {
        margin-right: 30px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 0.15em;
        left: 0;
        right: 0;
        bottom: -5px;
        color: $color2;
    }
    &:hover {
        color: rgb(0, 0, 0);
        &::before {
            background: $color2;
        }
    }
}

//flexbox
.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
}

button,
.button {
    padding: 0.7rem 1.65rem;
    background: $color3;
    border-radius: 4px;
    cursor: pointer;
    border: 14;
}

//visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}

//text
.banner {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 50px;
    justify-content: center;
    text-align: bottom;
    font-size: 50px;
    padding: 50px;
    justify-content: center;
    width: 100% auto;
    @include breakpoint-down(medium) {
        padding: -50px;
        width: 80%;
        margin: auto;
    }
    @include breakpoint-down(small) {
        padding: -50px;
        width: 75%;
        margin: auto;
    }
    @include breakpoint-up(medium) {
        text-align: top;
        margin-top: 100px;
    }
}

code {
    font-family: 'Square721 BT';
    font-size: 13px;
    color: black;
}